body{
    height: 100%;
}

footer{
    background: burlywood;
    width: 87%;
    margin: 0% 6.5% 6.5%;
    padding: 1% 0%;
}

header{
    width: 87%;
    margin: 0% 6.5%;
    padding-top: 6.5%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.all-bg{
    height: 100%;
    background-image: url("img/testbg.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-bg{
    height: auto;
    background-image: url("img/testbg.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hv-container {
    position: relative;
    width: 100%;
  }

.hv-container:hover .overlay {
    opacity: 1;
  }

.icon-images{
    width: 50%;
}

.images{
    height: 80%;
}

.main-container{
    width: 87%;
    height: 87%;
    margin: 0% 6.5%;
    padding-top: 10.5%;
    padding-bottom: 2%;

    background: rgb(133, 133, 60);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

.page-labels{
    padding: 0.5% 3%;
}

.part-container{
    background: rgb(133, 60, 60);
    padding: 1%;
    margin-bottom: 0.7%;
}

.sect-container{
    background: rgb(51, 192, 211);
    margin: 0 2%;
    padding: 1%;
}