footer{
    background: burlywood;
    width: 87%;
    margin: 0% 6.5% 6.5%;
    padding: 1% 0%;
}

header{
    width: 87%;
    margin: 6.5% 6.5% 0%;
    background: burlywood;
}

.images{
    height: 80%;
}

.main-container{
    width: 87%;
    height: 87%;
    margin: 0% 6.5%;
    padding-bottom: 2%;

    background: rgb(133, 133, 60);
}

.page-labels{
    padding: 0.5% 3%;
}

.part-container{
    background: rgb(133, 60, 60);
}

.sect-container{
    background: rgb(51, 192, 211);
    margin: 0 2%;
    padding: 1%;
}

