@import url("fonts/BrandonGrotesque/style.css");
@import url("fonts/ProximaNova/style.css");

html{
    transition: 2.0s;
}
  
body{
    height: 100%;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Brandon Grotesque', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

p.lead{
    color: #f0ece2;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

h1{
    color: #f0ece2;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 2px 2px 0 #000;
}

h3{
    text-transform: uppercase;
    color: #e4f4fd;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

h3:before, h3:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 100%;
    height: 1px;
    content: '\a0';
    background-color: #8096a1;
}
h3:before {
    margin-left: -100%;
    text-align: right;
}

footer{
    background: #343a40;
    width: 87%;
    margin: 0% 6.5% 6.5%;
    padding-top: 1%;
}

header{
    width: 87%;
    margin: 0% 6.5%;
    padding-top: 6.5%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.footer-upper-white{
    text-transform: uppercase;
    font-size: small;
    font-weight: lighter;
    color: #f0ece2;
}

.navbar a{
    transition: 0.3s;
}

.navbar a:hover{
    color: black !important;
    background-color: #f0ece2;
    border-radius: 5px;
    transition: 0.3s;
}

.navbar .active{
    color: black !important;
    background-color: #f0ece2;
    border-radius: 5px;
}

.all-bg{
    height: 100%;
    background-image: url("img/test.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-bg{
    height: auto;
    background-image: url("img/test.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hv-container {
    position: relative;
    width: 100%;
  }

.hv-container:hover .overlay {
    opacity: 0.9;
  }

.icon-images{
    width: 50%;
}


.main-container{
    width: 87%;
    height: 87%;
    margin: 0% 6.5%;
    padding-top: 10.5%;
    padding-bottom: 2%;
    opacity: 0.95;

    background-image: url("img/mark-b.png");

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #596e79;
    text-align: center;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
    z-index: -1;
}
  
.zoom:hover {
    transform: scale(1.2);
    z-index: 9999999;
}

.page-labels{
    padding: 0.5% 3%;
}

.part-container{
    background: #dfd3c3;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

.sect-container{
    background: #f0ece2;
    margin: 0 3%;
    padding: 1%;
    border-radius: 5px;
}

.banner{
    background-position: center;
    background-size: cover;
}

.home-img img{
    transition: 0.3s;
    opacity: 0.3;
}

.home-img img:hover{
    border-radius: 50% !important;
    opacity: 1.0;
    transition: 0.3s;
    /* z-index: 1; */
}
  
.cust-column img {
    opacity: 0.5;
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
}
  
.cust-column img:hover {
    opacity: 1;
    transition: 0.3s;
}

.cust-container {
    position: relative;
    display: none;
}

.closebtn {
    position: absolute;
    top: 1%;
    right: 50%;
    color: white;
    font-size: 100%;
    cursor: pointer;
}

#expandedImg{
    width: 50%;
    text-align: center;
}

#imgtext {
    position: absolute;
    bottom: 1%;
    left: 50%;
    color: white;
    font-size: 20px;
}

#home-banner{
    background-image: url("img/mark.jpg");

}

#home-banner:hover{
    background-image: url("img/kickit.gif");
    transition: 0.5s;
    background-size: cover;
}

#educ-bg-banner{
    background-image: url("img/lee.jpg");
}

#educ-bg-banner:hover{
    background-image: url("img/jopping.gif");
    transition: 0.5s;
    background-size: cover;
}

#gallery-banner{
    background-image: url("img/tae.jpg");
}

#gallery-banner:hover{
    background-image: url("img/7thsense.gif");
    transition: 0.5s;
    background-size: cover;
}

#about-banner{
    background-image: url("img/shose.jpg");
}

#about-banner:hover{
    background-image: url("img/infinity.gif");
    transition: 0.5s;
    background-size: cover;
}

#contact-banner{
    background-image: url("img/miya.jpg");
}

#contact-banner:hover{
    background-image: url("img/violeta.gif");
    transition: 0.5s;
    background-size: cover;
}

